/* Google font family link */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&family=Lobster&family=Poppins:wght@300;400;500;600;700&display=swap');

/* using font-family 
font-family: 'Poppins', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
*/


/* Common css style*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: block;
}

.primary-btn {
    padding: 15px 20px;
    background: #FF5959;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 22px;
    margin-top: 20px;
}

.section-title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #121212;
}

.section-description {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4em;
    color: #707070;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}


/* banner section style */

#banner {
    width: 100%;
    background: linear-gradient(#60474700, #000000f0), url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0;
}

.banner-content {
    text-align: center;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    width: 75%;
    display: block;
    margin: 0 auto;
}

.banner-description {
    font-size: 18px;
    line-height: 1.3em;
    color: #fff;
    width: 50%;
    font-weight: 400;
    display: block;
    margin: 25px auto 20px auto;
}


/* donate today section style */

#donate-today {
    margin: 100px 0;
}

.donate-today-content {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.donate-amount {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 36px 20%;
}

div.amount-content:nth-child(2) {
    background: #FFEEEE;
    border: 2px solid #FF5959
}

.amount-content {
    padding: 28px 20px;
    background: #FAFAFA;
    border-radius: 10px;
}

.amount-content h4 {
    color: #707070;
    font-size: 25px;
    font-weight: 700;
}

.other-amount {
    text-align: center;
    padding: 0 20%;
}

.other-amount p {
    color: #B3B3B3;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 11px;
}

.other-amount hr {
    border: 1px solid #DADADA;
}


/* Donate Plan section style */

.donate-plan-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin: 50px 0;
}

.donate-plan-item {
    background: #EDF5F6;
    padding: 60px 25px;
    border-radius: 5px;
}

.donate-plan-item:nth-child(2) {
    background: #FFEEEF;
}

.donate-plan-item:nth-child(3) {
    background: #FFF4D6;
}

.donate-plan-title {
    margin: 15px 0;
    font-size: 24px;
    color: #121212;
    font-family: 'Poppins', sans-serif;
}

.donate-plan-description {
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    line-height: 1.3em;
}


/* need donation section style */

#need-donation {
    margin: 100px 0;
}

.need-donation-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    margin-top: 80px;
}

.donation {
    width: 50%;
}

.donation>.section-title {
    text-align: left;
}

.donation>.section-description {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.donation-image {
    width: 100%;
}


/* Updates section style */

#updates {
    margin: 100px 0;
}

.subscribe {
    background: #FFF4D6;
    margin: 0px 14%;
    text-align: center;
    padding: 70px 0;
    margin-top: 50px;
}

input[type="email"] {
    padding: 15px 20px;
    width: 40%;
    font-size: 18px;
    border: none;
    border-radius: 5px 0 0 5px;
    background: #D9D9D9;
}

input[type="submit"] {
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #FF5959;
    color: #fff;
    margin-left: -11px;
}


/* Footer style*/

#footer {
    padding: 60px;
    background: #0B0D17;
}

.footer-content {
    text-align: center;
}

.footer-content>.section-title {
    color: #FF5959;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}

.footer-content p {
    color: #fff;
    font-size: 16px;
}

.hide {
    display: none;
}

/* responsive style */

@media screen and (max-width:992px) {
    .donate-plan-box {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 20px;
    }

    .donate-plan-item {
        width: 47%;
    }
}

@media screen and (max-width:768px) {

    /* Donate Today area responsive */
    .need-donation-item {
        flex-direction: column;
        gap: 0;
    }

    .need-donation-item-one {
        flex-direction: column-reverse;
    }

    .donation {
        width: 100%;
    }

    .donation-content {
        padding: 20px;
    }

    /* Updates area responsive  */
    .subscribe {
        margin: 50px 3% 0 3%;
    }

    .subscribe {
        text-align: left;
        padding: 70px 2%;
    }

    input[type="email"] {
        width: 98%;
        border-radius: 5px;
    }

    input[type="submit"] {
        border-radius: 5px;
        margin: 10px 0 0 0;
    }
}


@media screen and (max-width: 635px) {

    /* banner area responsive */
    .banner-title,
    .banner-description {
        width: 100%;
        padding: 0 20px;
    }

    .donate-today-content>.section-description,
    .donate-plan-content>.section-description,
    .updates-content>.section-description {
        width: 100%;
        padding: 0 20px;
    }

    /* Donate Today area responsive*/
    .donate-amount {
        flex-direction: column;
        padding: 36px 0;
    }

    .amount-content {
        padding: 28px 30%;
        margin: 10px;
    }

    /* Donate Plan area style */
    .donate-plan-box {
        flex-direction: column;
        padding: 20px;
    }

    .donate-plan-item {
        width: 100%;
    }
}